{% extends 'base.html' %}

{% block title %} All booklists {% endblock %}

{% block content %}

<div class="container">
<h4 class="mt-4" style="text-align:center">All Booklists</h4>

<div class="row">
    {% for user in users %}
        <div class="col-sm-4">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <a href="/users/{{ user.id}}" class="link">
                    <div class="card-header" style="text-align:center">{{ user.username }}'s Booklist</div>
                </a>
                    <div class="card-body">
                
                        <ul class="list-group" id="booklist">
                    {% for book in user.booklist %}
                  
                    <li class="list-group-item">
                        <a href="/books/{{ book.id }}" class="book-link">
                            <div class="booklist-area"> 
                                <p>{{ book.title.title() }}<p>  
                                </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    {% endfor %}
</div>

</div>

{% endblock %}