{% extends 'base.html' %}

{% block title %} Book Details {% endblock %}

{% block content %}


<div class="book-details">
  <h1 id="title">{{ results.title.title() }}</h1>
  <p class="lead" id="author">Author: {{ results.author.title() }}</p>
  
  {% if results.publication_dt %}
  <p>Publication Date: {{ results.publication_dt }}</p>
  {% endif %}
  
  {% if results.description %}
  <p id="description">Description: {{ results.description }}</p>
  {% endif %}

  {% if g.user %}
  <form method="POST" action="/books/{{ results.title.lower().replace('%20','') }}/author/{{ results.author.replace('%20','') }}">
    <button class="btn btn-info btn-sm">Add Book</button>
  </form>
  {% endif %}

</div>




{% endblock %}

