{% extends 'base.html' %}

{% block title %} Show list of books {% endblock %}

{% block content %}

<div class="container-fluid">
    {% if books %}
        <h4 class="mt-4 mb-4" style="text-align:center">All Saved Books</h4>
        <div class="card-deck">
            {% for book in books %}
                <div class="col-2">  
                    <a href="/books/{{ book.id}}" class="link">   
                    <div class="card bg-light" id="results"> 
                        {% if book.image %}
                            <img src="{{ book.image }}" class="card-img-top book-img" alt="book cover"> 
                        {% else %}
                            <p>Image Not Available</p>
                        {% endif %}
                              
                    </div>
                    </a>
                </div>     
            {% endfor %}
        </div>
    {% else %}
        <h4 class="mt-4" style="text-align:center">No Books to Display</h4>
        <a href="/">Select a bestseller from your favorite category here</a>
    {% endif %}
</div>

{% endblock %}
      
