{% extends 'base.html' %}

{% block title %} Add New Review {% endblock %}

{% block content %}

<div class="container center-block">
  <h5 class="mt-4 mb-5 text-center">Write a Review for {{ book.title.title() }}</h5>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form 
          if field.widget.input_type != 'hidden' %}
          <p>
            {{ field.label }}
            {{ field(class_='form-control') }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
           </p>
        {% endfor %}

        <button class="btn btn-success" type="submit">Post Review</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}