{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

<div class="container-fluid my-5" id="img-div">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
      <h3 class="my-5 text-center">Looking  for a bestseller?</h3>
        <div id="search-form" class="text-center">
          <form method='GET' action='/results'id="search-form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}

              <p class="text-center">
              {{ field.label }}
              {{ field(class_="form-control") }}
              </p>
      
        
            {% endfor %}
            <button class="btn btn-lg my-0" id="search-categories">Search</button>
          </form>
        </div>
      <button class="btn btn-lg btn-link  text-center mt-5" id="saved-books"><a href="/books">Books saved by the BookGenie community</a></button>
    </div>
  </div>
</div>


{% endblock %}
