{% extends 'base.html' %}

{% block title %} User Details {% endblock %}

{% block content %}

<div>
  <div class="row full-width">
    <div class="container">  
      <div class="row justify-content-end" id="stats-div">
        <h4 class="text-left mt-4" id="username-heading">Username: {{ user.username }}</h4>
        <div class="col-9">
          <ul class="user-stats nav nav-pills">
            <li class="stat mx-3">
              <p>Books</p>
              <p class="count">
                <a href="/users/{{ user.id }}/books">{{ user.booklist | length }}</a>
              </p>
            </li>
            <li class="stat mx-3">
              <p>Reviews</p>
              <p class="count">
                <a href="/users/{{ user.id }}/reviews">{{ user.reviews | length }}</a>
              </p>
            </li>

            <li class="stat mx-3">
              <p>Following</p>
              <p class="count">
                <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
              </p>
            </li>

            <li class="stat mx-3">
              <p>Followers</p>
              <p class="count">
                <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
              </p>
            </li>
            <div class="col-auto mr-auto">
              {% if g.user.id == user.id %}
              <a href="/users/profile" class="btn btn-outline-secondary btn-sm mb-2">Edit Profile</a>
              <form method="POST" action="/users/delete" class="form-inline">
                <button class="btn btn-outline-danger btn-sm">Delete Profile</button>
              </form>
              {% elif g.user %}
              {% if g.user.is_following(user) %}
              <form method="POST" action="/users/stop-following/{{ user.id }}">
                <button class="btn btn-primary btn-sm">Unfollow</button>
              </form>
              {% else %}
              <form method="POST" action="/users/follow/{{ user.id }}">
                <button class="btn btn-outline-primary btn-sm">Follow</button>
              </form>
              {% endif %}
              {% endif %}
            </div>
        </ul>
      
        
      </div>
    </div>
  </div>
</div>

{% block user_details %}
{% endblock %}

</div>

{% endblock %}