{% extends 'base.html' %}

{% block title %} User Reviews  {% endblock %}

{% block content %} 

{% if reviews %}
<div class="container">
  <div class="col-md-6">
    <h4 class="text-center mt-4">Book Reviews By {{ user.username}}</h4>
    <ul class="list-group" id="reviews">

      {% for review in reviews %}

        <li class="list-group-item">
    
          <div class="booklist-area">
            <p>Review for : 
              <a href="/books/{{ review.book_id }}" class="book-link">
              {{ review.book.title.title() }} 
              </a>
            </p>
            <p>{{ review.summary }}
            </p>  
          </div> 
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% else %}
<h4 class="text-center mt-4">{{ user.username}} does not have any reviews yet</h4>

{% endif %}

{% endblock %}

