{% extends 'users/detail.html' %}

{% block title %} User Profile  {% endblock %}

{% block user_details %}

<div class="row mt-8">
  <div class="col-sm-6 bg-secondary">
    <h6 class="mt-4">My Books</h6>
    <div class="card-deck">
      {% for book in user.booklist %}
          <div class="col-4">      
            <div class="card bg-secondary mb-2"> 
              <a href="/books/{{ book.id }}" class="book-link">
                <img src="{{ book.image }}" alt="book cover" class="card-img-top book-img">
              </a>
              {% if g.user.id == user.id %}
                  <div class="row justify-content-center">
                    <form method="POST" action="/booklists/{{ user.id }}/delete/{{ book.id }}">
                      <button class="btn btn-danger btn-sm">Remove</button>
                    </form>
                  </div>
                {% endif %}
            </div>          
          </div>     
      {% endfor %}
    </div>    
  </div>

  <div class="col-sm-6 bg-secondary">

    {% if user.reviews %}

      <h6 class="mt-4">My Reviews</h6>
      <ul class="list-group" id="booklist">
              
        {% for review in user.reviews %}
        
          <li class="list-group-item bg-light">   
              <p>Review for : 
                <a href="/books/{{ review.book_id }}" class="book-link">
                      {{ review.book.title.title() }} 
                </a>
              </p>
              <p>{{ review.summary }}</p>  
              {% if review.url %}
              <p><a href="{{ review.url }}" target="_blank">Read reviews on other sites</a></p>
              {% endif %}

              {% if g.user.id == review.user_id %}

                <form method="GET" action="/reviews/{{ review.id }}/edit" class="form-inline">
                  <button class="btn btn-outline-info btn-sm">Edit Review</button>
                </form>
                      
                <form method="POST" action="/reviews/{{ review.id }}/delete" class="form-inline">
                    <button class="btn btn-outline-danger btn-sm mt-4">Delete Review</button>
                </form>
              {% endif %}
          </li>
       
        {% endfor %}

      </ul>

    {% endif %}

  </div>
</div>

    
  
{% endblock %}